<div class="hero-section">
    <img src="https://www.usatoday.com/money/blueprint/images/uploads/2024/02/21100512/flight-statistics-scaled.jpg" class="banner-image" alt="Holiday Experience">
    <div class="hero-text">
      <h1>Destinations that are meant to give incredible holiday experiences</h1>
      <p>Explore our insightful blogs on top tourist destinations for joyful journeys ahead</p>
    </div>
  </div>
  <app-destination-cards></app-destination-cards>
  <app-latest-blogs></app-latest-blogs>
  