<nav class="navbar">
    <div class="container">
      <a href="#" class="navbar-brand">FlightBooking</a>
      <button class="navbar-toggle" onclick="toggleNavbar()">☰</button>
      <div class="navbar-menu" id="navbarMenu">
        <a href="home" class="nav-link">Home</a>
        <a routerLink="bookings" class="nav-link">Flights</a>
        <!-- <a href="/mybookings" class="nav-link">My Bookings</a> -->
        <a routerLink="mybookings" class="nav-link">My Booking</a>
        <a routerLink="contactus" class="nav-link">Contact Us</a>
        <a routerLink="admin-panel" class="nav-link">Admin</a>
      </div>
    </div>
  </nav>
  