<div>
<form #addForm="ngForm" (ngSubmit)="book()">
  <div class="search-container">
      <div class="input-box">
          <label class="label">FROM</label>
          <div>
              <input class="input" [(ngModel)]="fd.flightFrom" name="flightFrom" required>
              <span class="input-info">[DEL] Indira Gandhi International Airport</span>
          </div>
      </div>

      <div class="input-box">
          <label class="label">TO</label>
          <div>
              <input class="input" [(ngModel)]="fd.flightTo" name="flightTo" required>
              <span class="input-info">[BOM] Chhatrapati Shivaji International A...</span>
          </div>
      </div>

      <div class="input-box">
          <label class="label">DEPARTURE DATE</label>
          <div>
              <input type="date" class="input" [(ngModel)]="fd.departure" name="departure" required>
          </div>
      </div>

      <div class="input-box">
          <label class="label">RETURN DATE</label>
          <div>
              <input type="date" class="input" [(ngModel)]="fd.return" name="return" required>
          </div>
      </div>

      <div class="input-box">
        <label class="label">TRAVELLER</label>
        <div>
            <input class="input" [(ngModel)]="fd.traveller" name="traveller" required>
        </div>
    </div>
    
    <div class="input-box">
        <label class="label">CLASS</label>
        <div>
            <select class="input" [(ngModel)]="fd.flightclass" name="flightclass" required>
                <option value="Economy">Economy</option>
                <option value="Business">Business</option>
                <option value="First">First</option>
            </select>
        </div>
    </div>
    

      <button class="search-button" type="submit" [disabled]="!addForm.valid">BOOK</button>
  </div>
</form>
</div>

